h2 {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: 'futura';
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-bottom: 1.5em;
}

h2::before {
    content: '';
    top: .8em;
    width: 7.6em;
    left: 14.95em;
    z-index: -20;
    align-items: center;
    background-color: #6F9EB7;
    height: .5em;
    position: absolute;
    justify-content: center;
}

.projects ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
}

.projects ul li {
    margin-right: 2em;
}

.projects ul li div {
    width: 21.5em;
    height: 20em;
    background-color: white;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.projects h3 {
    color: white;
    font-family: 'futura';
    font-weight: bold;
    margin-left: 1.4em;
    margin-bottom: 0;
    margin-top: .8em;
}

.projects h4 {
    color: white;
    font-family: 'futura';
    font-weight: 100;
    margin-left: 1.6em;
    margin-top: 0;
}

.projects div img {
    width: 80%;
    transition: 200ms;
}

.projects div:hover img {
    width: 90%;
}