.projects {
    padding: 5em 0;
}

h2 {
    font-size: 1em;
    color: #6F9EB7;
    font-family: 'futura';
    z-index: 10;
    margin-bottom: 1em;
    position: relative;
    left: 1.8em;
}

h2::before {
    content: '';
    position: absolute;
    width: 1.5em;
    top: .75em;
    left: -1.8em;
    height: .1em;
    background-color: #6F9EB7;
}

.projects p {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 0px #6F9EB7;
    margin-bottom: 1.2em;
}

.projects ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
}

.projects ul::-webkit-scrollbar {
    display: none;
}

.projects ul li {
    margin-right: 2em;
}

.projects ul li div {
    width: 21.5em;
    height: 20em;
    background-color: white;
    border-radius: 2em;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.projects div span {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgb(46, 46, 46, .8) 0%, rgba(255,255,255,0) 100%);
    border-radius: 2em;
    padding: 0em 1.5em;
}

.projects h3 {
    color: white;
    font-family: 'futura';
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .2em;
    margin-top: .8em;
}

.projects h4 {
    color: white;
    font-family: 'futura';
    font-weight: 100;
    margin-top: 0;
}

.projects div img {
    width: 50%;
    transition: 200ms;
}

.projects div:hover img {
    width: 60%;
}

.projects ul li:first-of-type div {
    background-color: white;
}

.projects ul li:nth-of-type(2) div {
    background-color: #2E4385;
}