.leader {
    display: flex;
    align-items: center;
    height: 670px;
    position: relative;
    width: 1200px;
    justify-content: center;
}

.info {
    margin-right: auto;
}

h1 {
    font-size: 5.5em;
    font-family: 'futura';
    font-weight: bold;
    color: white;
    margin-bottom: .2em;
    text-shadow: 3px 3px 0px #6F9EB7;
}

p {
    font-size: 1.7em;
    font-family: 'futura';
    color: white;
    margin-top: 0;
}

.leader p {
    margin-bottom: 2em;
}

.contactButton {
    background-color: #6F9EB7;
    outline: none;
    text-decoration: none;
    border: 0;
    font-family: 'futura';
    color: white;
    font-size: 1.1em;
    padding: 1em 1.5em;
    border-radius: 3em;
    transition: 200ms;
    cursor: pointer;
}

.contactButton:hover {
    transform: scale(1.2);
}

.leader .picture {
    width: 30%;
    height: 23em;
    object-fit: cover;
    z-index: 100;
}

.leader img:first-of-type, .leader img:last-of-type {
    position: absolute;
}

.leader img:first-of-type {
    right: 260px;
    top: 120px;
    z-index: 0;
    opacity: .8;
}

.leader img:last-of-type {
    right: -60px;
    top: 440px;
    opacity: .5;
}