.about h2 {
    margin-top: 3em;
    font-size: 1em;
}

.about p {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0px #69F2DD;
    margin-bottom: 1.5em;
}

.about {
    padding: 5em 0 10em;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills div {
    width: calc(95%/2);
}

.skills div img {
    width: 2.5em;
    margin-bottom: .5em;
    height: 23px;
}

.skills div h3 {
    color: white;
    font-size: 1.3em;
} 

.skills div p {
    text-shadow: none;
    color: white;
    font-size: 1em;
    font-weight: normal;
}