nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #2F2F2Fd1;
    z-index: 120;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1em 0;
    width: 1200px;
}

nav ul li {
    color: white;
    font-family: 'futura';
    position: relative;
}

nav ul li::after {
    content: '';
    width: 0%;
    position: absolute;
    height: .1em;
    bottom: -.5em;
    background-color: #69F2DD;
    transition: 500ms;
}

nav ul li:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    height: .1em;
    bottom: -.5em;
    background-color: #69F2DD;
}

#first {
    border-left: 1px solid white;
    margin-left: 1.5em;
}

.social:hover {
    filter: grayscale(100%);
}

nav ul li+li {
    margin-left: 2em;
}

.logo {
    margin-right: auto;
}

nav ul img:nth-of-type(2) {
    padding-left: 1.5em;
}

nav ul img:nth-of-type(2)+img {
    margin-left: 1.5em;
}

nav ul img:last-of-type {
    margin-left: 1.5em;
}

.navbar a {
    padding: 0;
    display: flex;
    color: white;
    text-decoration: none;

}