.sideBar a {
    display: flex;
    margin-top: 7em;
    color: #69F2DD;
    font-family: 'Futura';
    text-decoration: none;
}

.sideBar {
    width: 25%;
    position: sticky;
    top: 0;
    left: 0;
}

.sideBar a::before {
    content: url('../assets/arrowBack.svg');
    margin-right: 1em;
}

.sideBar ul {
    list-style: none;
    padding: 0;
    margin-top: 3em;
}

.sideBar ul li img {
    width: 2em;
    margin-right: 1em;
}

.sideBar ul li {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.sideBar ul li ~ li {
    margin-top: 2em;
}